<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

  {% include "components/head.njk" %}

  <body class="leading-tight">
    <div class="grid p-6 h-screen grid-rows-layout">
      <header>
        <em>
          <a href="{{ '/' | url }}">{{ metadata.title }}</a>
        </em>
        {% include "components/nav.njk" %}
      </header>

      <main class="mt-6">
        {{ layoutContent | safe }}
      </main>

      {% include "components/footer.njk" %}
    </div>

  </body>

</html>