---
layout: layouts/base.njk
section: atlas
permalink: /atlas/index.html
---
{# <h1>{{ title }}</h1> #}

{{ layoutContent | safe }}

<div class="sm:flex flex-wrap mb-4 -mx-2 hidden">
  {# Generate column titles by protocols #}
  {% for protocol in protocols %}
    <div class="w-full sm:w-1/5 px-2">
      {{ protocol }}
    </div>
  {% endfor %}
</div>

{% for institution in institutions %}
  <div x-data="{ isOpen: false }" x-init="isOpen = window.outerWidth < 640 ? false : true" x-on:resize.window="isOpen = window.outerWidth < 640 ? false : true">
    <h2 class="text-{{- institution.color }} mb-2 cursor-pointer sm:cursor-auto" x-on:click="window.outerWidth < 640 ? isOpen = !isOpen : '' ">{{ institution.name }} </h2>
    <div class="flex-wrap mb-4 -mx-2 flex" x-show.transition.duration.200ms.origin.top.left.opacity.scale.50="isOpen">
        {% for protocol in protocols %}
          <div class="w-full sm:w-1/5 px-2">
            {% for thisProtocol in collections.protocol %}
              {% if thisProtocol.data.protocol == protocol and thisProtocol.data.institution == institution.name %}
                <h3 class="sm:hidden mb-1">
                  {{ protocol }}
                </h3>
                <div class="border-4 border-{{- institution.color }} mb-2 shadow-md">
                  <div class="relative pb-9/16">
                    {% if thisProtocol.data.video %}
                      <video class="absolute h-full w-full object-cover" controls poster="{{ thisProtocol.data.image }}">
                        <source src="{{ thisProtocol.data.video }}" type="video/mp4">
                        Your browser does not support the video tag.
                      </video>
                    {% else %}
                      <img class="absolute h-full w-full object-cover" src="{{ thisProtocol.data.image }}" alt="{{ thisProtocol.data.name }} {{ thisProtocol.data.protocol }}">
                    {% endif %}
                  </div>
                </div>
              {% endif %}
            {% endfor %}
          </div>
        {% endfor %}
    </div>
  </div>
{% endfor %}

{# {% set postslist = collections.protocol %} #}