---
layout: layouts/base.njk
section: inventory
---
{# <h1>{{ title }}</h1> #}

{{ layoutContent | safe }}

<div class="sm:flex flex-wrap mb-4 -mx-2 hidden items-end">
  {# Generate column titles by protocols #}
  {% for protocol in protocols %}
    <div class="w-full sm:w-1/5 px-2">
      {{ protocol }}
    </div>
  {% endfor %}
</div>

{% for institution in institutions %}
  <div x-data="{ isOpen: false }" x-init="isOpen = window.outerWidth < 640 ? false : true" x-on:resize.window="isOpen = window.outerWidth < 640 ? false : true">
    <h2 class="text-{{- institution.color }} mb-2 cursor-pointer sm:cursor-auto" x-on:click="window.outerWidth < 640 ? isOpen = !isOpen : '' ">{{ institution.name }} </h2>
    <div class="flex-wrap mb-4 -mx-2 flex" x-show.transition.duration.200ms.origin.top.left.opacity.scale.50="isOpen">
        {% for protocol in protocols %}
          <div class="w-full sm:w-1/5 px-2">
            {% for thisProtocol in collections.protocol %}
              {% if thisProtocol.data.protocol == protocol and thisProtocol.data.institution == institution.name and thisProtocol.data.permalink != false %}
                <h3 class="sm:hidden mb-1">
                  {{ protocol }}
                </h3>
                <div class="border-4 border-{{- institution.color }} mb-2 shadow-md"
                  x-data="{}"
                  x-on:click="$dispatch('open-modal', {isModalOpen: true, setModal: '{{ thisProtocol.data.institution | slug }}-{{ thisProtocol.data.protocol | slug }}'})"
                >
                  <div class="relative pb-9/16 cursor-pointer">
                      <img class="absolute h-full w-full object-cover" src="{{ thisProtocol.data.image }}" alt="{{ thisProtocol.data.name }} {{ thisProtocol.data.protocol }}">
                  </div>
                </div>
              {% endif %}
            {% endfor %}
          </div>
        {% endfor %}
    </div>
  </div>
{% endfor %}

<div class="fixed inset-0 px-6 pt-12 pb-6 sm:px-12 flex items-center justify-center"
  x-data="{ isModalOpen: false }"
  x-show="isModalOpen"
  x-on:open-modal.window="isModalOpen = $event.detail.isModalOpen"
>

  <!--
    Background overlay, show/hide based on modal state.
  -->
  <div class="fixed inset-0 transition-opacity"
    x-data="{ isModalOpen: false }"
    x-show="isModalOpen"
    x-transition:enter="transition ease-out duration-300"
    x-transition:enter-start="opacity-0"
    x-transition:enter-end="opacity-100"
    x-transition:leave="transition ease-in duration-200"
    x-transition:leave-start="opacity-100"
    x-transition:leave-end="opacity-0"
    x-on:open-modal.window="isModalOpen = $event.detail.isModalOpen"
    x-on:click="$dispatch('open-modal', {isModalOpen: false}); pauseVideos();"
    x-on:keydown.escape.window="$dispatch('open-modal', {isModalOpen: false}); pauseVideos();"
  >
    <div class="absolute inset-0 bg-gray-500 opacity-75"></div>
    <div class="absolute top-0 right-0 cursor-pointer flex flex-col items-center mt-4 mr-4 text-white text-sm z-50">
      <svg class="fill-current text-white" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
        <path d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z"></path>
      </svg>
    </div>
  </div>

  <!--
    Modal panel, show/hide based on modal state.
  -->
  <div class="bg-white rounded-lg shadow-xl transform transition-all overflow-y-scroll max-h-full w-10/12" role="dialog" aria-modal="true" aria-labelledby="modal-headline"
    x-data="{ isModalOpen: false }"
    x-show="isModalOpen"
    x-transition:enter="transition ease-out duration-300"
    x-transition:enter-start="opacity-0 transform scale-90"
    x-transition:enter-end="opacity-100 transform scale-100"
    x-transition:leave="transition ease-in duration-300"
    x-transition:leave-start="opacity-100 transform scale-100"
    x-transition:leave-end="opacity-0 transform scale-90"
    x-on:open-modal.window="isModalOpen = $event.detail.isModalOpen"
  >
    <div class="bg-white p-4">
      {% for thisProtocol in collections.protocol %}
        <div
          x-data="{ isTabOpen: false }"
          x-on:open-modal.window="isTabOpen = $event.detail.setModal === '{{ thisProtocol.data.institution | slug }}-{{ thisProtocol.data.protocol | slug }}'"
          x-show="isTabOpen"
        >
          <h2 class="font-semibold">
          	{{ thisProtocol.data.institution }}: {{ thisProtocol.data.protocol }}
          </h2>
          <div class="mt-2">
            {% if thisProtocol.data.video or thisProtocol.data.layoutContent %}
              {% if thisProtocol.data.video %}
                <video class="video w-full" controls poster="{{ thisProtocol.data.image }}">
                  <source src="{{ thisProtocol.data.video }}" type="video/mp4">
                  Your browser does not support the video tag.
                </video>
              {% endif %}
              <div class="markdown-frame">
                {{ thisProtocol.data.layoutContent | safe }}
              </div>
            {% else %}
              Coming soon.
            {% endif %}
            </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>


  {# {% for thisProtocol in collections.protocol %}

  {% endfor %} #}

<script>
  function pauseVideos() {
    Array.from(document.getElementsByClassName('video')).forEach(video => video.pause());
  }
</script>