---
layout: layouts/base.njk
section: inventory
---
{# <h1>{{ title }}</h1> #}

{{ layoutContent | safe }}

<div class="sm:flex flex-wrap mb-4 -mx-2 hidden">
  {# Generate column titles by protocols #}
  {% for protocol in protocols %}
    <div class="w-full sm:w-1/5 px-2">
      {{ protocol }}
    </div>
  {% endfor %}
</div>

{% for institution in institutions %}
  <div x-data="{ isOpen: false }" x-init="isOpen = window.outerWidth < 640 ? false : true" x-on:resize.window="isOpen = window.outerWidth < 640 ? false : true">
    <h2 class="text-{{- institution.color }} mb-2 cursor-pointer sm:cursor-auto" x-on:click="window.outerWidth < 640 ? isOpen = !isOpen : '' ">{{ institution.name }} </h2>
    <div class="flex-wrap mb-4 -mx-2 flex" x-show.transition.duration.200ms.origin.top.left.opacity.scale.50="isOpen">
        {% for protocol in protocols %}
          <div class="w-full sm:w-1/5 px-2">
            {% for thisProtocol in collections.protocol %}
              {% if thisProtocol.data.protocol == protocol and thisProtocol.data.institution == institution.name %}
                <h3 class="sm:hidden mb-1">
                  {{ protocol }}
                </h3>
                <div class="border-4 border-{{- institution.color }} mb-2 shadow-md">
                  <div class="relative pb-9/16">
                    {% if thisProtocol.data.video %}
                      <video class="absolute h-full w-full object-cover" controls poster="{{ thisProtocol.data.image }}">
                        <source src="{{ thisProtocol.data.video }}" type="video/mp4">
                        Your browser does not support the video tag.
                      </video>
                    {% else %}
                      <img class="absolute h-full w-full object-cover" src="{{ thisProtocol.data.image }}" alt="{{ thisProtocol.data.name }} {{ thisProtocol.data.protocol }}">
                    {% endif %}
                  </div>
                </div>
              {% endif %}
            {% endfor %}
          </div>
        {% endfor %}
    </div>
  </div>
{% endfor %}

<div class="fixed inset-0 p-4 flex items-center justify-center hidden">
  <!--
    Background overlay, show/hide based on modal state.

    Entering: "ease-out duration-300"
      From: "opacity-0"
      To: "opacity-100"
    Leaving: "ease-in duration-200"
      From: "opacity-100"
      To: "opacity-0"
  -->
  <div class="fixed inset-0 transition-opacity">
    <div class="absolute inset-0 bg-gray-500 opacity-75"></div>
  </div>

  <!--
    Modal panel, show/hide based on modal state.

    Entering: "ease-out duration-300"
      From: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
      To: "opacity-100 translate-y-0 sm:scale-100"
    Leaving: "ease-in duration-200"
      From: "opacity-100 translate-y-0 sm:scale-100"
      To: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
  -->
  <div class="bg-white rounded-lg shadow-xl transform transition-all sm:max-w-lg sm:w-full max-h-full overflow-y-scroll" role="dialog" aria-modal="true" aria-labelledby="modal-headline">
    <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
      <div class="sm:flex sm:items-start">
        <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
          <h3 class="text-lg leading-6 font-medium text-gray-900" id="modal-headline">
            Deactivate account
          </h3>
          <div class="mt-2">
            <p class="text-sm leading-5 text-gray-500">
              Are you sure you want to deactivate your account? All of your data will be permanently removed. This action cannot be undone.
              Are you sure you want to deactivate your account? All of your data will be permanently removed. This action cannot be undone.
              Are you sure you want to deactivate your account? All of your data will be permanently removed. This action cannot be undone.
              Are you sure you want to deactivate your account? All of your data will be permanently removed. This action cannot be undone.
              Are you sure you want to deactivate your account? All of your data will be permanently removed. This action cannot be undone.
              Are you sure you want to deactivate your account? All of your data will be permanently removed. This action cannot be undone.
              Are you sure you want to deactivate your account? All of your data will be permanently removed. This action cannot be undone.
              Are you sure you want to deactivate your account? All of your data will be permanently removed. This action cannot be undone.
              Are you sure you want to deactivate your account? All of your data will be permanently removed. This action cannot be undone.
              Are you sure you want to deactivate your account? All of your data will be permanently removed. This action cannot be undone.
              Are you sure you want to deactivate your account? All of your data will be permanently removed. This action cannot be undone.
              Are you sure you want to deactivate your account? All of your data will be permanently removed. This action cannot be undone.
              Are you sure you want to deactivate your account? All of your data will be permanently removed. This action cannot be undone.
              Are you sure you want to deactivate your account? All of your data will be permanently removed. This action cannot be undone.
              Are you sure you want to deactivate your account? All of your data will be permanently removed. This action cannot be undone.
              Are you sure you want to deactivate your account? All of your data will be permanently removed. This action cannot be undone.
              Are you sure you want to deactivate your account? All of your data will be permanently removed. This action cannot be undone.
              Are you sure you want to deactivate your account? All of your data will be permanently removed. This action cannot be undone.
              Are you sure you want to deactivate your account? All of your data will be permanently removed. This action cannot be undone.
              Are you sure you want to deactivate your account? All of your data will be permanently removed. This action cannot be undone.
              Are you sure you want to deactivate your account? All of your data will be permanently removed. This action cannot be undone.
              Are you sure you want to deactivate your account? All of your data will be permanently removed. This action cannot be undone.
              Are you sure you want to deactivate your account? All of your data will be permanently removed. This action cannot be undone.
              Are you sure you want to deactivate your account? All of your data will be permanently removed. This action cannot be undone.
              Are you sure you want to deactivate your account? All of your data will be permanently removed. This action cannot be undone.
              Are you sure you want to deactivate your account? All of your data will be permanently removed. This action cannot be undone.
              Are you sure you want to deactivate your account? All of your data will be permanently removed. This action cannot be undone.
              Are you sure you want to deactivate your account? All of your data will be permanently removed. This action cannot be undone.
              Are you sure you want to deactivate your account? All of your data will be permanently removed. This action cannot be undone.
              Are you sure you want to deactivate your account? All of your data will be permanently removed. This action cannot be undone.
              Are you sure you want to deactivate your account? All of your data will be permanently removed. This action cannot be undone.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


  {# {% for thisProtocol in collections.protocol %}

  {% endfor %} #}
